.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: gray transparent; /* For Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* For Webkit browsers like Chrome */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: gray; /* For Webkit browsers like Chrome */
  }

  .hide-horizontal-scrollbar {
    overflow-x: hidden !important;
  }